@font-face {
    font-family: "PT Sans";
    src: url(../fonts/PTN57F_W.eot);
    src:
            url(../fonts/PTN57F_W.eot?#iefix) format('embedded-opentype'),
            url(../fonts/PTN57F_W.woff) format('woff'),
            url(../fonts/PTN57F_W.ttf) format('truetype'),
            url(../fonts/PTN57F_W.svg#PTSans-Narrow) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Reef";
    src: url(../fonts/Reef.otf);
}
@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Light.eot);
    src:
            url(../fonts/Lato-Light.ttf) format('truetype'),
            url(../fonts/Lato-Light.woff) format('woff'),
            url(../fonts/Lato-Light.woff2) format('woff2');
}
/* Button fonts */
@font-face {
    font-family: 'icomoon';
    src:    url(../fonts/icomoon.eot?pml3fu);
    src:    url(../fonts/icomoon.eot?pml3fu#iefix) format('embedded-opentype'),
    url(../fonts/icomoon.ttf?pml3fu) format('truetype'),
    url(../fonts/icomoon.woff?pml3fu) format('woff'),
    url(../fonts/icomoon.svg?pml3fu#icomoon) format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 2em;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-footer-mail:before {
    content: "\e901";
}
.icon-footer-inst:before {
    content: "\e902";
}
.icon-footer-fb:before {
    content: "\e903";
}
.icon-footer-share:before {
    content: "\e904";
}
.icon-footer-git:before {
    content: "\e905";
}
.icon-footer-vk:before {
    content: "\e907";
}
.icon-footer-twitter:before {
    content: "\e909";
}
.icon-footer-codepen:before {
    content: "\e90b";
}
.icon-up:before {
    content: "\e90d";
}
.icon-down:before {
    content: "\e90e";
}
.icon-share:before {
    content: "\e906";
}
.icon-mail:before {
    content: "\e900";
}
.icon-telegram:before {
    content: "\e908";
}
.icon-vk:before {
    content: "\e90a";
}
.icon-github:before {
    content: "\1f361";
}
.icon-linkedin:before {
    content: "\e90c";
}
.icon-codepen:before {
    content: "\e90f";
}

